<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Hidroponik</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Monitoring Hidroponik</h1>
    <div class="chart-container">
        <div class="chart-box">
            <h2>Chart Suhu</h2>
            <canvas id="suhuChart"></canvas>
        </div>
        <div class="chart-box">
            <h2>Chart Kelembapan</h2>
            <canvas id="kelembapanChart"></canvas>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
